body{ 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}
#btns{ 
    position: relative;
    margin: 20px 30%; 
   
}
.style-btn{ 
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    margin: 0 20px;
    background: rgb(42, 165, 97);
}
.square-div{ 
    border: .3px solid rgb(98, 148, 96);
    background-color: white;
    flex-basis: 100%;

}
.blacked{ 
    background-color: black;
}
.row{ 

    border: 1px 0px solid rgb(145, 121, 167);
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{ 
    padding: 1px;
    height: 800px;
    width: 800px;
    margin-top: 50px;
    border: 1px solid rgb(33, 0, 109);
    display: flex;
}
/* .btn{ 
    height: 40px;
    width: 80px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background: rgb(64, 101, 156);
    position: relative;
    bottom: 250px;
    left: 250px;
} */
